<h2>Edit Product</h2>
  <div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header"></div>
			<div class="box-body">
			 <form>
       <div class="form-group">
      <label >ID</label>
      <input type="text" class="form-control"  name="id" [(ngModel)]="product.id">
      
    </div>
    <div class="form-group">
      <label >Product Name</label>
      <input type="text" class="form-control"  name="name" [(ngModel)]="product.name">
      
    </div>
    <div class="form-group">
      <label >Price</label>
      <input type="number" class="form-control" name="price" [(ngModel)]="product.price">
    </div>
   <div class="form-group">
      <label >Image</label>
      <input type="text" class="form-control"  name="img" [(ngModel)]="product.img">
      
    </div>
     <div class="form-group">
      <label >Desc</label>
      <textarea type="text" class="form-control"  name="desc" [(ngModel)]="product.desc"></textarea>
      
    </div>
    <button type="submit"  (click)="Update(product)">Update</button>
  </form>
			</div>
		</div>
	</div>
</div>